/* * {
  font-family: 굴림;
  font-weight: bold;
  font-size: 12px;
} */
div.board {
    border: solid 5px rgb(216, 238, 159);
    margin: 20px 50px 20px 50px;
    padding: 10px 10px;
  }
  div.boardreply {
    border: solid 5px rgb(255, 176, 237);
    width: 50%;
    margin: 20px 20px;
    padding: 10px 10px;
  }
  input[type="button"] {
    margin-right: 10px;
    margin-top: 5px;
  }
  div.thumbnail {
    float: left;
    padding-right: 10px;
  }
  img {
    height: 60px;
  }
  div.boardlist {
    text-align: -webkit-center;
  }
  div.board {
    width: 700px;
  }
  